.register-admin {
  margin: 5em 15em;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container-register {
  display: flex;
  flex-direction: column;
  align-items: center;
}
